<p>
  <strong>Question:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<h2> Add an Answer </h2>
<%= form_for [@question, @answer] do |f| %>
  <p>
  <%= f.label :Answer%>
  <%= f.text_area :body%>
  </p>
  <p>
  <%= f.submit %>
  </p>
  <%end%>

<h2> Solutions to the Problem </h2>
<ul>
<% @answers.each do |answer| %>
<li><%= answer.body %></li>
<%end%>
</ul>
